.tabla__compra{
    background-color: white;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border: solid 0.5px #0F362D;
    font-size: 14px;
}
    th, td{
        padding: 20px;
    }
    thead{
        background-color: rgb(255, 166, 0); ;
    }
    tbody{
        background-color: #cac8c6;
        color:black;
    }
    tbody:nth-child(even){
        background-color: #ddd;
    }
    tbody:hover td{
        background-color: rgb(255, 166, 0);
        color:white;
    }

    .h3__cart{
        margin: 4%;
        font-family: 'Odibee Sans', cursive;
        letter-spacing: 0.2rem;
        font-size:xx-large;
    }

    .btn__volver{
        font-size: 100%;
        letter-spacing: 0.1em;
        background-color: #d87a0f;
        color: white;
        
    }

    .footer__cart{
        padding-top:3%;
    }
    .h3_precio_final{
        font-size: 250%;
        font-family: 'Odibee Sans', cursive;
        letter-spacing: 0.3rem;
    }

    .container__precio__final{
        background-color: rgb(231, 230, 226);
        border-radius: 4%;
        border-style: solid;
        width: 35%;
        padding: 5%;
    }

    .button_vaciar_carrito{
        background-color: rgb(119, 119, 119);
        font-family: 'Odibee Sans', cursive;
        letter-spacing: 0.01rem;
        font-size: 25px;
    }

    .button_finalizar_compra{
        background-color: #d87a0f;
        font-family: 'Odibee Sans', cursive;
        font-size: 25px;
        letter-spacing: 0.01rem;
        margin:4%;
    }

    

    .btn__eliminar{
        background-color: rgb(218, 30, 30);
    }
    .div__etiqueta{
        margin:3%;
    }
    .h1__etiqueta{
        font-family: 'Odibee Sans', cursive;
        font-size: 65px;
        letter-spacing: 0.3vh;
        margin-left: 25%;
    }